%button {
	font-size: 20px;
	font-weight: 100;
	display: inline-block;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	padding: 14px 20px;
	height: 50px;
	border-radius: 1px;
	width: auto;
	max-width: 350px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	&,
	&:active {
		outline: none;
	}
	&:hover {
		text-decoration: none;
	}
}

button {
	@extend %button;
}

@media (max-width: 1700px) {
	%button {
		height: 40px;
		font-size: 15px;
	}
}

.button-one {
	@extend %button;
	color: #fff;
	background-color: $color-one;
	border: none;
	border-radius: 40px;
	&:hover {
		background-color: #999;
	}
	&:active {
		background-color: $color-one;
	}
}

.button-two {
	@extend %button;
	background-color: #eee;
	color: #999;
	border: 1px solid #ccc;
	&:hover {
		background-color: #999;
		color: #fff;
		border: none;
	}
	&:active {
		background-color: #333;
		color: #fff;
		border: none;
	}
}

.button-three {
	@extend %button;
	background-color: $color-three;
	color: $color-one;
	border: 1px solid #ccc;
	border-radius: 40px;
	font-family: 'UG bold';
	letter-spacing: 1px;
	font-size: 20px;
	padding: 10px 20px;
	opacity: 0.7;
	&:hover {
		background-color: #999;
		border: 1px solid #999;
		color: #fff;
	}
	&:active {
		background-color: #333;
		border: 1px solid #ccc;
		color: #fff;
	}
}

.button-four {
	@extend %button;
}


.tickets {
	margin: 20px 0 50px 0;
	display: block;
	&:hover {
		text-decoration: none;
	}
}
