@import "variables";
@import "base/fontello";
@import "base/fonts";
@import "components/button";
@import "components/input";
@import "components/panel";
@import "features/contact";
@import "features/navbar";
@import "layout/responsive-grid";
@import "layout/specifics";
@import "pages/error";
@import "pages/landing/animation";
@import "pages/landing/landing-page";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #444;
}

body {
  background: #f4f4f7;
}