<div class="contact">
	<div class="container">
		<div class="grid-6 info">
			<h2 class="margin">CONTACT</h2>
			<p class="margin"> <span class="icon-phone"></span> +44 20 3583 2442</p>
			<p class="margin"> <span class="icon-location"></span> contact@foundersandcoders.org</p>
			<p> <span class="icon-mail-1"></span> 14 Palmers Road, London E2 OSY</p>
		</div>
		<div class="grid-6">
			<div class="form" method="post">
				<form method="post" target="_blank">
					<input type="text" placeholder="Name" class="input-one">
					<input type="email" placeholder="Email" class="input-one">
					<textarea type="text" placeholder="Message"></textarea>
					<button class="button-one" type"submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>