<div class="section-copy">
	<div class="container">
		<%- partial("_london.md") %>
	</div>
</div>

<div class="apply-section">
	<a href="/testimonials"><button class="button-one">TESTIMONIALS</button></a>
	<a href="/apply"><button class="button-three">APPLY</button></a>
</div>
