<div class="section-copy">
	<div class="container apply-page">
		<%- partial("_apply.md") %>
	</div>
	<div align="center" class="programmes-info">
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSdU_HNAYn-C7HW60TGneX3s6_KnnkSWOWsrGiuJ7jBzVXUQgA/viewform" target="_blank"><button class="button-three">LONDON</button></a>
		<a href="https://goo.gl/vVg5Fm" target="_blank"><button class="button-three">NAZARETH</button></a>
	</div>
</div>
