<div class="section-copy">
	<div class="container apply-page">
		<%- partial("_apply.md") %>
	</div>
	<div align="center" class="programmes-info">
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSdvlLQyjC6g_7SY6vbNKVrdZglnW-a5yyw_zHWM-IyDju_F4w/viewform" target="_blank"><button class="button-three">LONDON</button></a>
	</div>
</div>
