<div class="section-copy">
	<div class="container apply-page">
		<h1 align='center'>LONDON</h1>

		<p align='center'>Applications are now open for our next course: 26 February - 15 June, 2018</p>

		<%- partial("_prereqs.md") %>

		<div align='center'>
		  <a href="https://goo.gl/forms/CERu8qvH6kjL7pZG3" target="_blank"><button class="button-three">APPLY</button></a>
		</div>

		<%- partial("_london.md") %>
	</div>
</div>
