<div class="section-copy">
	<div class="container apply-page">
		<h1 align='center'>LONDON</h1>

		<p align='center'>Apply today for our next course: 23 October, 2017 - February 9, 2018</p>

		<%- partial("_prereqs.md") %>

		<div align='center'>
		  <a href="https://goo.gl/forms/CERu8qvH6kjL7pZG3" target="_blank"><button class="button-three">APPLY</button></a>
		</div>

		<%- partial("_london.md") %>
	</div>
</div>
