<div class="section-copy">
	<div class="container apply-page">
		<h1 align='center'>NAZARETH</h1>

		<p align='center'>Applications are now open for our next course: 4 March 2017 - 21 June 2017.</p>

		<%- partial("_prereqs.md") %>

		<div align='center'>
		  <a href="https://goo.gl/forms/Q5qVg6sLfDkDB15b2" target="_blank"><button class="button-three">APPLY</button></a>
		</div>

		<%- partial("_nazareth.md") %>
	</div>
</div>
