<div class="section-copy">
	<div class="container apply-page">
		<h1 align='center'>NAZARETH</h1>

		<p align='center'>Applications are now open for the course beginning March 4. The general application deadline is November 15. For local candidates only, late applications will be accepted through December 15.</p>

		<%- partial("_prereqs.md") %>

		<div align='center'>
		  <a href="https://goo.gl/forms/Q5qVg6sLfDkDB15b2" target="_blank"><button class="button-three">APPLY</button></a>
		</div>

		<%- partial("_nazareth.md") %>
	</div>
</div>
