<div class="section-copy">
	<div class="container apply-page">
		<h1 align='center'>NAZARETH</h1>

		<p align='center'>Apply today for our next course: 29 October, 2017 - 15 February, 2018.</p>

		<div align='center'>
		  <a href="https://goo.gl/forms/84rV5RO0W2pymY6m2" target="_blank"><button class="button-three">APPLY</button></a>
		</div>

		<%- partial("_nazareth.md") %>

		<div align='center'>
		  <a href="https://goo.gl/forms/84rV5RO0W2pymY6m2" target="_blank"><button class="button-three">APPLY</button></a>
		</div>
	</div>
</div>
