%anchor {
	position: absolute;
	margin-top: -70px;
}

%anchor2 {
	position: absolute;
	margin-top: -90px;
}

#portfolio-anchor, #services-anchor, #faq-anchor, #contact-anchor {
  	@extend %anchor;
}

#faq-anchor, #prerequisites-anchor, #request-anchor, #team-anchor, #blog-anchor {
  	@extend %anchor2;
}

#schedule-anchor {
	position: absolute;
	margin-top: -90px;
}

#company-anchor {
	position: absolute;
	margin-top: -170px;
}

#apply-anchor {
	position: absolute;
	margin-top: -90px;
}

@media (max-width: $tablet) {
	%anchor {
		margin-top: -60px;
	}

	%anchor2 {
		margin-top: -80px;
	}

	%anchor3 {
		margin-top: -140px;
	}

	%anchor4 {
		margin-top: -160px;
	}
	#apply-anchor {
		margin-top: -160px;
	}
}