@font-face {
	font-family: 'UG bold';
	src: url('../font/UG.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'UG med';
	src: url('../font/UGmed.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'UG thin';
	src: url('../font/UGthin.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
	font-family: 'UG med', 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: $color-one;
}

p, ul, ol, li {
	font-family: 'UG med';
	font-size: 18px;
	line-height: 150%;
}

@media (max-width: $tablet) {
	p, ul, ol {
		font-size: 17px;
		line-height: 130%;
	}
}

@media (max-width: $mobile) {
	p, ul, ol {
		font-size: 16px;
		line-height: 120%;
	}
}

h1 {
	font-family: 'UG med';
	font-size: 30px;
	line-height: 130%;
}

@media (max-width: $tablet) {
	h1 {
		font-size: 28px;
	}
}

@media (max-width: $mobile) {
	h1 {
		font-size: 26px;
	}
}

h2 {
	font-family: 'UG med';
	font-size: 24px;
	line-height: 130%;
}

@media (max-width: $tablet) {
	h2 {
		font-size: 22px;
	}
}

@media (max-width: $mobile) {
	h2 {
		font-size: 20px;
	}
}


h3 {
	font-family: 'UG bold';
	font-size: 18px;
	line-height: 150%;
}

@media (max-width: 700px) {
	h3 {
		font-size: 17px;
		line-height: 130%;
	}
}

@media (max-width: 400px) {
	h3 {
		font-size: 16px;
		line-height: 120%;
	}
}

h4 {
	font-family: 'UG bold';
	font-size: 19px;
	line-height: 100%;
}

@media (max-width: 700px) {
	h4 {
		font-size: 15px;
	}
}

@media (max-width: 400px) {
	h4 {
		font-size: 13px;
	}
}

ul {
	list-style-position: inside;
}

a {
	text-decoration: none;
	color: $color-four;
}

a:hover {
	cursor: pointer
}

strong {
	font-family: 'UG bold';
}
