<%- partial("_partials/navbar") %>

<div id="panel-1" class="panel-1">
	<h1 class="animate-header">Founders &amp; Coders</h1>
	<p>A digital agency based in London</p>
</div>

<div id="portfolio" class="panel-portfolio">
	<%- partial("_partials/portfolio", { "name": "Project one", "company": "Company one", "imageStyle": "image-one" }) %>
	<%- partial("_partials/portfolio", { "name": "Project two", "company": "Company two", "imageStyle": "image-two" }) %>
	<%- partial("_partials/portfolio", { "name": "Project three", "company": "Company three", "imageStyle": "image-three" }) %>
</div>

<div class="panel-client-quotes">
	<h3 id="client-name">Happy client</h3> 
	<p id="client-quote">"consectetur adipiscing elit. Suspendisse imperdiet sit amet sapien eu ultrices."</p>
	<div class="radio">
		<input id="client-one" type="radio" name="client" onclick='changeText("Happy client", "consectetur adipiscing elit. Suspendisse imperdiet sit amet sapien eu ultrices.")' checked>
   		<label for="client-one"></label>
    	<input id="client-two" type="radio" name="client" onclick='changeText("Duis finibus", "Nullam rutrum quam ex. ")'>
    	<label for="client-two"></label>
    	<input id="client-three" type="radio" name="client" onclick='changeText("Nullam eget diam in diam maximus", "Duis finibus, metus non malesuada bibendum, lacus arcu egestas lacus, eget dictum nisl elit vel tortor.")'>
    	<label for="client-three"></label>
    </div>
</div>

<div class="panel-services"></div>

<div class="methods"></div>

<script src="js/main.js"></script>