<div id="panel-1" class="panel-1">
	<h1>Founders & Coders</h1>
</div>

<div class="panel-2">
	<h3 class="company-tagline">"We craft software to change the world"</h3> 
</div>

<div class="panel-3">
	<h3>Portfolio</h3> 
</div>

<div class="panel-4">
	<h3>Happy client</h3> 
	<p>"These people build great things"</p>
</div>

<div class="panel-5">
	<h3>Contact</h3> 
</div>