<div class="home">
	<div id="section-landing" class="section-landing">
		<h1 class="animate-header">Founders &amp; Coders</h1>
		<p>A digital agency based in London</p>
	</div>

	<div id="portfolio" class="section-portfolio">
		<h2>Portfolio</h2>
		<%- partial("_partials/portfolio", { "link": "portfolio/africabriefcase", "name": "Project one", "company": "Company one", "imageStyle": "image-one" }) %>
		<%- partial("_partials/portfolio", { "link": "portfolio/camdenmaps", "name": "Project two", "company": "Company two", "imageStyle": "image-two" }) %>
		<%- partial("_partials/portfolio", { "link": "portfolio/null", "name": "Project three", "company": "Company three", "imageStyle": "image-three" }) %>
	</div>


	<div id="services" class="section-services">
		<ul class="container">
			<h2>Services</h2>
			<div class="grid-4">
				<img src="assets/icons/application.png">
				<p>Web Application Development</p>
			</div>
			<div class="grid-4">
				<img src="assets/icons/training.png">
				<p>Training</p>
			</div>
			<div class="grid-4">
				<img src="assets/icons/content.png">
				<p>Content Management</p>
			</div>
			<div class="grid-4">
				<img src="assets/icons/proto.png">
				<p>Prototyping</p>
			</div>	
			<div class="grid-4">
				<img src="assets/icons/mobile.png">
				<p>Mobile Development</p>
			</div>	
			<div class="grid-4">
				<img src="assets/icons/responsive.png">
				<p>Responsive Web Design</p>
			</div>	
		</li>
		</ul>
	</div>




	<!-- 6 services: 

	Working on these 3 now:
		prototyping - DONE
		web application development
		training

	These 3 can go straight to case studies:
		content management
		membership management 
	  interactive maps -->


	<div class="section-client-quotes">
		<h3 id="client-name">Happy Client</h3> 
		<p id="client-quote">"consectetur adipiscing elit. Suspendisse imperdiet sit amet sapien eu ultrices."</p>
		<div class="radio">
			<input id="client-one" type="radio" name="client" onclick='changeText("Happy Client", "consectetur adipiscing elit. Suspendisse imperdiet sit amet sapien eu ultrices.")' checked>
	   		<label for="client-one"></label>
	    	<input id="client-two" type="radio" name="client" onclick='changeText("Duis finibus", "Nullam rutrum quam ex. ")'>
	    	<label for="client-two"></label>
	    	<input id="client-three" type="radio" name="client" onclick='changeText("Nullam eget diam in diam maximus", "Duis finibus, metus non malesuada bibendum, lacus arcu egestas lacus, eget dictum nisl elit vel tortor.")'>
	    	<label for="client-three"></label>
	    </div>
	</div>

	<div class="methods"></div>
</div>
