<nav class="nav-secondary">
	<div class="center">
		<a><h3>WORK</h3></a>
		<a><h3>COMPANY</h3></a>
		<a><h3>BLOG</h3></a>
		<a><h3>SCHOOL</h3></a>
	</div>
	<div class="bottom">
		<div class="center-2">
			<a><h3>Portfolio</h3></a>
			<a><h3>Services</h3></a>
			<a><h3>METHODS</h3></a>
		</div>
	</div>
</nav>

<p>Block</p>

<!-- <div class="panel-nav-offset"></div> -->