<div class="academy-landing">
	<div id="nazareth-image"></div>
	<h1 class="agency">Join us in Nazareth </h1>
	<h1><span class="display">Spring 2017</span></h1>
</div>

<div class="section-copy">
	<div class="container">
		<%- partial("_about.md") %>
		<div class="sponsor-section">
			<div>
				<img class="embassy" src="/assets/embassy.jpg"/>
			</div>
			<div>
				<img class="techhub" src="/assets/ukisraeltechhub.jpg"/>
			</div>
		</div>
	</div>
</div>


