<div class="section-copy">

	<div class="container apply-page">
    <h1 align='center'>COURSE PREREQUISITES</h1>
		<!-- <div align='center'>
		  <a href="http://www.github.com/"
		    title="GitHub website">
		    <img class="partners-section-image" alt="GitHub logo" src="/assets/prerequisites-icons/github.png"/>
		  </a>
		</div> -->
		<%- partial("_prereq.md") %>
  </div>

</div>
