<div class="section-copy">

	<div class="container apply-page">
    <h1 align='center'>COURSE PREREQUISITES</h1>
		<div align='center'>
		  <a href="http://www.github.com/"
		    title="GitHub website">
		    <img class="partners-section-image" alt="GitHub logo" src="/assets/prerequisites-icons/github.png"/>
		  </a>
		</div>
		<%- partial("_github.md") %>
  </div>

  <div class="container apply-page">
		<div align='center'>
		  <a href="http://www.freecodecamp.com/"
		    title="Free Code Camp website">
		    <img class="partners-section-image" alt="Free Code Camp logo" src="/assets/prerequisites-icons/free-code-camp.png">
		  </a>
		</div>
    <%- partial("_fcc.md") %>
  </div>

  <div class="container apply-page">
		<div align='center'>
		  <a href="http://www.codewars.com/"
		    title="Codewars website">
		    <img class="partners-section-image" alt="Codewars logo" src="/assets/prerequisites-icons/codewars.jpg">
		  </a>
		</div>
    <%- partial("_codewars.md") %>
  </div>

  <div class="container apply-page">
    <hr>
    <p>If you would like to take a break from completing the required material and are curious about other resources, we have <a href="https://github.com/foundersandcoders/recommended-materials">some recommendations</a>.</p>
  </div>


</div>
