<div class="section-copy">
	<div id="portfolio" class="section-portfolio no-padding`">
		<h1>Portfolio</h1>
		<div class="images-container">
			<%- partial("../_partials/portfolio", { "link": "/portfolio/p/africabriefcase", "name": "Africa Briefcase", "company": "IC Publications", "imageStyle": "image-one", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "/portfolio/p/camdenmaps", "name": "Camden Maps", "company": "Camden Council", "imageStyle": "image-three", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "/portfolio/p/chichester-harbour", "name": "Membership Management", "company": "Chichester Harbour", "imageStyle": "image-four", "display": "" }) %>
			<%- partial("../_partials/portfolio", { "link": "/portfolio/p/africaneye", "name": "Africaneye", "company": "IC Publications", "imageStyle": "image-two", "display": "" }) %>
		</div>
	</div>
</div>