<div class="section-copy">
	<div class="container">
    <div class='portfolio-intro'>
      <%- partial("_portfolio.md") %>
    </div>
    <table class='portfolio_table'>
      <tr class='portfolio_table_row'>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/anna_freud.png'
              alt='Anna Freud Center'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/cast.png'
              alt='Cast Centre for Acceleration of Social Technology'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/camden.png'
              alt='Camden Council'
              />
          </a>
        </td>
      </tr>
      <tr class='portfolio_table_row'>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/roundabout.png'
              alt='Roundabout Homeless Charity'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/nhs.png'
              alt='National Health Society UK'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/safer_together.png'
              alt='Safer Together UK'
              />
          </a>
        </td>
      </tr>
      <tr class='portfolio_table_row'>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/quaker_social_action.png'
              alt='Quaker Social Action'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/ugly_mugs.png'
              alt='Ugly Mugs: Ending Violence Against Sex Workers'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/worthwhile.png'
              alt='Worthwhile UK: creates career paths for young professionals who care'
              />
          </a>
        </td>
      </tr>
      <tr class='portfolio_table_row'>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/science_museum.png'
              alt='Science Museum'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/on_purpose.png'
              alt='On Purpose UK'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/hackney_learning_trust.png'
              alt='Hackney Learning Trust'
              />
          </a>
        </td>
      </tr>
      <tr class='portfolio_table_row'>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/safe_lives.png'
              alt='Safe Lives'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/queen_mary_uni.png'
              alt='Queen Mary University London'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/royal_holloway.png'
              alt='Royal Holloway'
              />
          </a>
        </td>
      </tr>
      <tr class='portfolio_table_row'>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/birkbeck.png'
              alt='Birkbeck University London'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/fat_lama.png'
              alt='Fat Lama'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/team_munch.png'
              alt='Team Munch'
              />
          </a>
        </td>
      </tr>
      <tr class='portfolio_table_row'>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/piccnicc.png'
              alt='Piccnicc App'
              />
          </a>
        </td>
        <td class='portfolio_item_container'>
          <a href='#'>
            <img
              class='portfolio_item_image'
              src='/assets/portfolio/boat_launch.png'
              alt='Boat Launch'
              />
          </a>
        </td>
      </tr>
    </table>
	</div>
</div>
