<div class="section-copy">
	<div class="container">

		<div id="company"></div>
		<%- partial("_company.md") %>

		<div class="sponsor-section">
			<div>
				<img class="dwyl" src="/assets/dwyl-logo.png"/>
			</div>
			<div>
				<img class="cast" src="/assets/cast.png"/>
			</div>
			<div>
				<img class="techhub" src="/assets/ukisraeltechhub.jpg"/>
			</div>
		</div>

		<div class="about-team">
			<div id="team"></div>
			<%- partial("_team.md") %>
		</div>

		<div id="blog"></div>
		<%- partial("_blog.md") %>

	</div>
</div>