<div class="section-copy">
	<div class="container">
		<div id="company"></div>
		<%- partial("_company.md") %>
		<div class="about-team">
			<div id="team"></div>
			<%- partial("_team.md") %>
		</div>
		<div id="blog"></div>
		<%- partial("_blog.md") %>
	</div>
</div>