<nav id="navbar2" class="nav-2">
	<div class="center">
		<a><h3>WORK</h3></a>
		<a><h3>COMPANY</h3></a>
		<a><h3>BLOG</h3></a>
		<a><h3>SCHOOL</h3></a>
	</div>
	<div class="bottom">
		<div class="center-2">
			<a><h4>Portfolio</h4></a>
			<a><h4>Services</h4></a>
			<a><h4>Methods</h4></a>
		</div>
	</div>
</nav>

<div class="panel-nav-offset"></div>