<nav id="navbar">
		<ul class="animate-header">
			<li>
				<a href="/"><h3>HOME</h3></a>
				<div class="nav-dd col-1">
					<ul>
						<li>
							<h3 onclick="fac.nav_scroll('/', 'portfolio-anchor')">Portfolio</h3>
						</li>
						<li>
							<h3 onclick="fac.nav_scroll('/', 'services-anchor')">Services</h3>
						</li>
						<li>
							<h3 onclick="fac.nav_scroll('/', 'contact-anchor')">Contact</h3>
						</li>
					</ul>	
				</div>
			</li>
			<li>
				<a href="/about"><h3>ABOUT</h3></a>
				<div class="nav-dd col-2">
					<ul>
						<li>
							<h3 onclick="fac.nav_scroll('/about', 'portfolio-anchor')">Test</h3>
						</li>
						<li>
							<h3>Ipsum</h3>
						</li>
						<li>
							<h3>dolor</h3>
						</li>
					</ul>	
				</div>
			</li>
			<li>
				<a href="/blog"><h3>BLOG</h3></a>
				<div class="nav-dd col-3">
					<ul>
						<li class>
							<h3>Lorum2</h3>
						</li>
						<li>
							<h3>Ipsum2</h3>
						</li>
						<li>
							<h3>dolor2</h3>						
						</li>
					</ul>	
				</div>
			</li>
			<li>
				<a href="/school"><h3>SCHOOL</h3></a>
				<div class="nav-dd col-4">
					<ul>
						<li class>
							<h3>Lorum3</h3>
						</li>
						<li>
							<h3>Ipsum3</h3>
						</li>
						<li>
							<h3>dolor3</h3>
						</li>
					</ul>	
				</div>
			</li>
		</ul>
</nav>

<div class="section-nav-offset"></div>