.desktop-only {
	display: block;
}

@media (max-width: $tablet) {
	.desktop-only {
		display: none;
	}
}

.desktop-tablet-only {
	display: block;
}

@media (max-width: $mobile) {
	.desktop-tablet-only {
		display: none;
	}
}

.tablet-only {
	display: none;
}

@media (max-width: 1000px) {
	.tablet-only {
		display: block;
	}
}

@media (max-width: 400px) {
	.tablet-only {
		display: none;
	}
}

.tablet-mobile-only {
	display: none;
}

@media (max-width: $tablet) {
	.tablet-mobile-only {
		display: block;
	}
}

.desaturate{
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
}

.center {
	text-align: center;
}

.abc-desktop {
	max-width: 600px;
	width: 100%;
	margin: 30px 0;
}

.abc-mobile {
	max-width: 100px;
	width: 100%;
	margin: 30px;
	margin-bottom: 42px;
}

.abc-laptop {
	max-width: 500px;
	width: 100%;
	margin: 30px 0;
}