.desktop-only {
	display: block;
}

@media (max-width: $tablet) {
	.desktop-only {
		display: none;
	}
}

.desktop-tablet-only {
	display: block;
}

@media (max-width: $mobile) {
	.desktop-tablet-only {
		display: none;
	}
}

.desaturate{
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
}