<div class="section-copy">
	<div class="container">
		<div id="company-anchor"></div>
		<%- partial("_company.md") %>
		<div id="team-anchor"></div>
		<%- partial("_team.md") %>
		<div id="blog-anchor"></div>
		<%- partial("_blog.md") %>
	</div>
</div>