<div class="section-copy">
	<div class="container-wide">
    <div class="overflow-hidden testimonials">
			<a href="full/natalia">
	    	<div class="grid-4">
	        <div class="quote-box">
	          <div class="container">
	            <p>"Hands down the best experience of my life..."</p>
	          </div>
	        </div>
	    		<div class="team-image-grid natalia"></div>
	    	</div>
			</a>
			<a href="full/bes">
			<div class="grid-4">
				<div class="quote-box">
					<div class="container">
						<p>"Founders & Coders has been life changing..."</p>
					</div>
				</div>
				<div class="team-image-grid bes"></div>
			</div>
			</a>
			<a href="full/nikhila">
			<div class="grid-4">
				<div class="quote-box">
					<div class="container">
						<p>"Joining the Founders & Coders course is one of the best decision I made so far in my life!"</p>
					</div>
				</div>
				<div class="team-image-grid nikhila-5"></div>
			</div>
			</a>
			<a href="full/izaak">
			<div class="grid-4">
				<div class="quote-box">
					<div class="container">
						<p>"I did not think it was possible to learn so much in such a short space of time..."</p>
					</div>
				</div>
				<div class="team-image-grid izaak"></div>
			</div>
			</a>
			<a href="full/jack">
				<div class="grid-4">
					<div class="quote-box">
						<div class="container">
							<p>"This place has changed my life! Amazing space full or energy and wonderful people. Learning and having fun every minute!"</p>
						</div>
					</div>
					<div class="team-image-grid jackr-5"></div>
				</div>
			</a>
    	<div class="grid-4">
        <div class="quote-box">
          <div class="container">
          <p>"What I learnt in the space of 16 weeks still leaves me astounded. Best experience of my life to date."</p>
    	   </div>
        </div>
      	<a href="https://github.com/benjaminlees" target="_blank"><div class="team-image-grid benji"></div></a>
    	</div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>"Attending FAC was the best decision of my life. It's a space where I learned web development and felt that its ethos fully resonated with me."</p>
          </div>
        </div>
        <a href="https://github.com/Neats29" target="_blank"><div class="team-image-grid anita-4"></div></a>
      </div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>"Founders & Coders set me on the path to a career I love, and proved how enjoyable and rewarding cooperative learning is. I am incredibly lucky to be involved."</p>
          </div>
        </div>
        <a href="https://github.com/rorysedgwick" target="_blank"><div class="team-image-grid rory-4"></div></a>
      </div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>"Founders and Coders was absolutely incredible! I learned so much in just 8 weeks. I feel very confident to learn anything."</p>
          </div>
        </div>
        <a href="https://github.com/abdiahmed" target="_blank"><div class="team-image-grid abdi-5"></div></a>
      </div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>"What can I say other than that Founders & Coders has changed my life. Great space, amazing people - it has been an extremely rewarding time!"</p>
          </div>
        </div>
        <a href="https://github.com/heron2014" target="_blank"><div class="team-image-grid anitac-5"></div></a>
      </div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>"I've achieved so much more here than I ever could have done on my own, and become part of an amazing community on the way."</p>
          </div>
        </div>
        <a href="https://github.com/nofootnotes" target="_blank"><div class="team-image-grid claire-5"></div></a>
      </div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>"FAC has completely changed my life. I have gone from having minimal coding experience to now earning a living as a software developer."</p>
          </div>
        </div>
        <a href="https://github.com/Danwhy" target="_blank"><div class="team-image-grid daniel-5"></div></a>
      </div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>"16 weeks ago I was using Internet Explorer, on a mac - now I can't stop putting semicolons after my statements;"</p>
          </div>
        </div>
        <a href="https://github.com/Lukars" target="_blank"><div class="team-image-grid lukas-5"></div></a>
      </div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>"I went in with little to no coding experience, and came out a fully-fledged developer. One of the best things I've ever done. Truly life-changing."</p>
          </div>
        </div>
        <a href="https://github.com/msmichellegar" target="_blank"><div class="team-image-grid michelle-5"></div></a>
      </div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>"Founders & Coders has an absolutely unbeatable learning curve. You'll meet incredible people and develop a VERY effective (and valuable) skillset."</p>
          </div>
        </div>
        <a href="https://github.com/wallcrawler" target="_blank"><div class="team-image-grid ronan-5"></div></a>
      </div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>I finished the course; I had an idea; 4 weeks later I had a fully-functioning web-app. With this trajectory, just imagine what could be achieved in another 4 weeks.</p>
          </div>
        </div>
        <a href="https://github.com/rub1e" target="_blank"><div class="team-image-grid rubie-5"></div></a>
      </div>
      <div class="grid-4">
        <div class="quote-box">
          <div class="container">
            <p>"Joining the Founders & Coders course is one of the best decision I made so far in my life!"</p>
          </div>
        </div>
        <a href="https://github.com/SimonLab" target="_blank"><div class="team-image-grid simon-5"></div></a>
      </div>
    	</div> -->
    </div>
	</div>
</div>
