<div class="section-copy">
	<div class="container">

		<h2>Companies</h2>

		<p>Founders & Coders C.I.C. is a not-for-profit social enterprise and co-operative of freelance web developers. Our aim is to improve the quality and accessibility of technical education everywhere. We are doing this by building a sustainable and repeatable model for high quality technical training.</p>

		<p>We provide what is probably the best training in web development in the UK and we don't charge our students anything. We generate income by placing our graduates. Some of our graduates stay on and join our freelance agency or start companies of their own.</p>

		<p>We have trained more than 100 novices in full-stack JavaScript. Typically 40% of our students are female and many are from backgrounds under-represented in the tech community. 100% of the graduates of our most recent programme are working as web developers.</p>

		<p>In addition to the intensive programme, we also run free and open-access coding courses for the wider community.</p>

		<p>Nikhila Ravi says, <em>"the Founders & Coders course is easily one of the best things I've ever done. I have learnt more useful practical knowledge in sixteen weeks than in a whole year at university".</em></p>

		<p>We have transformed the lives of many individuals through our educational programmes. One year ago, Besart Hoxhaj was working for less than minimum wage as a waiter in East London. Now Besart is leading a team to build a native iOS application, using React Native. We want to continue to unlock latent potential in individuals like Bes.</p>

		<p>By partnering with us we can continue to improve the quality of our courses, open more schools and change lives. <a onclick="fac.nav_scroll('/partners/', 'contact')">Get in touch</a></p>

		<h2>Individuals</h2>

		<p>We want to improve the accessibility of our educational programmes. Our courses are free but living in London is very expensive and for some people 16 weeks without work is not feasible.</p>

		<p>We want to be able to offer our life changing training to everyone, regardless of their background. If you are interested in supporting less advantaged students we would like to invite you to donate to our maintence grant fund, or consider providing an interest free loan.</p>

		<p>Many of our students could use help with housing during their time on our course. If you have a spare room and would consider sharing it for 16 weeks, <a onclick="fac.nav_scroll('/partners/', 'contact')">speak to us</a>.</p>

		<a href="/testimonials"><button class="button-one">Testimonials</button></a>
	</div>
</div>
