nav {
	width: 100%;
	height: 150px;
	line-height: 150px;
	padding: 0 25px;
	position: fixed;
	z-index: 1;
	background-color: $color-three;
	-webkit-transition:height 0.3s, line-height 0.3s;
	-moz-transition:height 0.3s line-height 0.3s;
	-ms-transition:height 0.3s line-height 0.3s;
	-o-transition:height 0.3s line-height 0.3s;
	transition:height 0.3s line-height 0.3s;
	.center {
		// text-align: center;
		max-width: 450px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		// justify-content: center;
		align-items: center;
	}
	h3 {
		display: inline;
		margin: 0 20px;
		letter-spacing: 2px;
	}
}

.section-nav-offset {
	@extend %section;
	height: 150px;
}

.smaller {
	height: 70px;
	line-height: 70px;
}

.nav-2 {
	height: 150px;
	line-height: 75px;
	border: 1px solid #ccc;
	padding: 0;
	margin-bottom: 1500px;
	// position: relative;
	.bottom {
		width: 100%;
		overflow: hidden;
		background-color: #D8D8D8;
	}
	.center-2 {
		// text-align: center;
		max-width: 350px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		// justify-content: center;
		align-items: center;
			background-color: #D8D8D8;

	}
}

.smaller2 {
	height: 70px;
	line-height: 35px;
}