nav {
	width: 100%;
	height: 150px;
	padding: 0 25px;
	position: fixed;
	z-index: 1;
	background-color: $color-three;
	-webkit-transition:height 0.3s, line-height 0.3s;
	-moz-transition:height 0.3s line-height 0.3s;
	-ms-transition:height 0.3s line-height 0.3s;
	-o-transition:height 0.3s line-height 0.3s;
	transition:height 0.3s line-height 0.3s;
	a {
		width: 100px;
		text-align: center;
		height: 100%;
	}
	ul {
		max-width: 600px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	li {
		display: inline;
		list-style-type: none;
		line-height: 150px;
		-webkit-transition: line-height 0.3s;
		-moz-transition: line-height 0.3s;
		-ms-transition: line-height 0.3s;
		-o-transition: line-height 0.3s;
		transition: line-height 0.3s;
		padding: 0 40px;
		&:hover {
			.nav-dd {
				display: block;
			}
		}
	}

	// .nav-dd {
	// 	li {
	// 		line-height: 75px;
	// 	}
	// }
	h3 {
		display: inline;
		letter-spacing: 2px;
		font-family: "UG med";
	}

}

@media (max-width: $tablet) {
	nav {
		li {
			padding: 0 30px;
		}
	}
}

@media (max-width: $mobile) {
	nav {
		li {
			padding: 0 15px;
		}
	}
}

.section-nav-offset {
	@extend %section;
	height: 150px;
}

.nav-dd {
	width: 100%;
	top: 150px;
	left: 0;
	height: 150px;
	line-height: 150px;
	position: absolute;
	display: none;
	z-index: 100;
	-webkit-transition:height 0.3s, line-height 0.3s, top 0.3s;
	-moz-transition:height 0.3s line-height 0.3s, top 0.3s;
	-ms-transition:height 0.3s line-height 0.3s, top 0.3s;
	-o-transition:height 0.3s line-height 0.3s, top 0.3s;
	transition:height 0.3s line-height 0.3s, top 0.3s;
	ul {
		max-width: 500px;
		padding: 0 50px;
		li {
			padding: 0;
		}
	}
	h3 {
		color: $color-three;
	}
}

.small-nav {
	height: 75px;
	li {
		line-height: 75px;
	}
}

.small-dd {
	height: 75px;
	line-height: 75px;
	top: 75px;
}

.col-1 {
	background-color: #333;
}

.col-2 {
	background-color: #333;
}

.col-3 {
	background-color: #333;
}

.col-4 {
	background-color: #333;
}

.nav-2 {
	height: 150px;
	line-height: 75px;
	border: 1px solid #ccc;
	padding: 0;
	margin-bottom: 1500px;
	// position: relative;
	.bottom {
		width: 100%;
		overflow: hidden;
		background-color: #D8D8D8;
	}
	.center-2 {
		// text-align: center;
		max-width: 350px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		// justify-content: center;
		align-items: center;
			background-color: #D8D8D8;

	}
}

.smaller2 {
	height: 70px;
	line-height: 35px;
}