.section-copy {
	background-color: #FFF;
	padding-top: 30px;
	padding-bottom: 50px;
	.container {
		max-width: 800px;
		margin: auto;
		padding: 15px;
	}
	h1 {
		margin-top: 40px;
		margin-bottom: 15px;
	}
	h2 {
		margin-top: 35px;
		margin-bottom: 15px;
	}
	h3 {
		margin-top: 30px;
		margin-bottom: 5px;
	}
	p {
		margin: 15px 0;
	}
	.list-margin-offset {
		margin-bottom: 0;
	}
	a {
		font-family: 'UG bold';
	}	
	a:hover {
		text-decoration: underline;
	}
	.quote {
	  font-style: italic;
		padding: 1em 4em;
	}
	.source {
	  font-style: normal;
		padding: 1em;
	  text-align: right;
	}
}

@media (max-width: $tablet) {
	.section-copy {
		padding-top: 20px;
		h1 {
			margin-top: 20px;
			margin-bottom: 15px;
		}
		h2, h3, p, {
			margin-bottom: 10px;
		}
	}
}