.desktop-only {
	display: block;
}

@media (max-width: $tablet) {
	.desktop-only {
		display: none;
	}
}

.desktop-tablet-only {
	display: block;
}

@media (max-width: $mobile) {
	.desktop-tablet-only {
		display: none;
	}
}

.tablet-only {
	display: none;
}

@media (max-width: 1000px) {
	.tablet-only {
		display: block;
	}
}

@media (max-width: 500px) {
	.tablet-only {
		display: none;
	}
}

.tablet-mobile-only {
	display: none;
}

@media (max-width: $tablet) {
	.tablet-mobile-only {
		display: block;
	}
}

.desaturate{
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
}

.overflow-hidden {
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.list-margin-offset {
	margin-bottom: 15px;
}

.section-copy {
	.no-dec:hover {
		text-decoration: none;
	}
}

.width-100 {
	width: 100%
}

.left {
	float: left;
}

.top-magin-20 {
	margin-top: 20px;
}

.training-image {
	margin-top: -100px;
	width: 100%;
}

.fac-logo {
	width: 100px;
	float: right;
}

.display-inline-dektop {
	display: inline;
}

@media (max-width: $tablet) {
	.display-inline-dektop {
		display: none;
	}
}

.display-inline-tablet {
	display: none;
}

@media (max-width: $tablet) {
	.display-inline-tablet {
		display: inline;
	}
}
