<div class="academy-landing">
	<h1 class="agency">48 of the Best.</h1>
	<p><span class="display">48 of the best junior developers in London graduate with us every year</span><span class="display-alt">Junior developers in London, every year.</span></p>
	<button class="button-three" onclick="fac.nav_scroll('/employers/', 'contact')" >GET IN TOUCH</button>
</div>
<div class="marketing-section employers">
	<div class="container">
    <div>
      <h2>Our People</h2>
      <p>Our students are exceptionally motivated. Applicants need to put in around 200h of work before we consider them in the selection process. The 5% of applicants that get accepted are passionate learners. We value hard work, talent and diversity - with around 40% of our intake being female and many from groups underrepresented in the tech industry. Our selection process is simple: We take people we would want to work with at our own startups.</p>
    <div>
    <div>
      <h2>Our Programme</h2>
      <p>Our programme is exceptionally ambitious. We place heavy emphasis on best practices, test driven development and software craftsmanship. Almost all work is done as part of a team, where every individual is expected to contribute to a shared codebase and regularly present their contributions to their peers and mentors. We teach the latest stack to the highest standard. Our mentors are industry professionals with years of experience and a real passion for technology.</p>
    <div>
    <div>
      <h2>Our Engineers</h2>
      <p>By the end of the 16 week programme, our students have clocked up more than 1000 hours of developer time. They have a solid foundation in full-stack: HTML and CSS, front-end Javascript frameworks like React and Angular, server development with Node, and databases with ProgreSQL and MongoDB. Our graduates understand what it means to build software as part of team, having worked together on their own projects and spent time working with our clients. Our engineers will excel on your team from day one.</p>
    	<button class="button-one" onclick="fac.nav_scroll('/employers/', 'contact')" >GET IN TOUCH</button>
		<div>
  </div>
</div>
