<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>  
  	<body>
  		<%- partial("../_partials/navbar") %>
  		<div class="section-copy">
			<div class="container">
				<%- yield %>
			</div>
		</div>
    	<%- partial("../_partials/contact") %>
		<footer>
		</footer>
  	</body>
</html>
