<div class="section-copy">
	<div class="container">
		<%- partial("_about.md") %>
		<div id="applysection"></div>
		<%- partial("_apply.md") %>
		<div id="faqsection"></div>
		<%- partial("_faq.md") %>
		<div id="prerequisitessection"></div>
		<%- partial("_prerequisites.md") %>
	</div>
</div>