<div class="section-copy">
	<div class="container">
		<%- partial("_about.md") %>
		<div id="apply"></div>
		<%- partial("_apply.md") %>
		<div id="faq"></div>
		<%- partial("_faq.md") %>
		<div id="prerequisites"></div>
		<%- partial("_prerequisites.md") %>
	</div>
</div>