<div class="section-landing">
		<div id="image" class="section-landing-image"></div>
		<div class="section-landing-image-alt"></div>
		<h1>Become a <span class="display-inline-dektop">software</span> developer</h1>
		<p><span class="display-inline-dektop">Founders & Coders runs t</span><span class="display-inline-tablet">T</span>he UK's leading training in software development.</p>
		<a href="/academy/#apply" class="margin"><button id="button" class="button-three" mouseout="image()">APPLY</button></a>
</div>

<div class="marketing-section">
	<div>
		<h1>Founders & Coders is setting a standard in education. We run the most comprehensive training in JavaScript web development in the UK without charging our students a penny.</h1>
		<h1>We are demonstrating elite education should not only be accessible to those that can afford to pay for it.</h1>
		<h1>We select on technical talent, capacity for hard work and desire to have a positive impact on the world. Everything we do is designed to help you towards becoming an exceptional software developer.</h1>
		<h1>We aim for 100% of our graduates to be earning a living in software development. We manage this by partnering with companies including Stack Overflow, 8th Light and The Guardian. </p>
		</p>
	</div>
</div>

<div class="testimonial-container">

	<div class="testimonial-section">
			<i class="icon-left-open-big"></i>
            <div class="carousel-wrap">
                <div class="testimonial">
                    <div class="carousel-item">
                        <p class="test"><span>"</span>Hands down the best experience of my life.<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid natalia"></div></a>
                        <p class="name">Natalia Baltazar</p>
                        <p>Developer at the Guardian</p>
                    </div>
                    <div class="carousel-item">
                        <p class="test"><span>"</span>Founders & Coders has been life changing<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid bes"></div></a>
                        <p class="name">Besart Hoxhaj</p>
                        <p>Developer at Founders & Coders</p>
                    </div>
                    <div class="carousel-item">
                        <p class="test"><span>"</span>Joining the Founders & Coders course is the best decision I have ever made!<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid nikhila-5"></div></a>
                        <p class="name">Nikhila Ravi</p>
                        <p>Developer at Founders & Coders</p>
                    </div>
                </div>
            </div>
			<i class="icon-right-open-big"></i>
	</div>

	<div class="sponsor-section">
			<div>
				<a href="https://www.switchup.org/bootcamps/founders-and-coders" target="_blank"><img class="switch" src="./assets/switch_logo.svg"/></a>
			</div>
			<div>
				<a href="https://www.coursereport.com/schools/founders-coders" target="_blank"><img class="course" src="./assets/course-report-logo.png"/></a>
			</div>
			<div>
				<a href="http://www.theguardian.com/technology/2015/jul/26/founders-coders-coding-free-training-london" target="_blank"><img class="observer" src="./assets/observer.png"/></a>
			</div>
			<div>
				<a href="http://www.forbes.com/sites/adrianbridgwater/2015/08/13/the-free-coding-academy-model-how-to-teach-our-next-generation-of-programmers/" target="_blank"><img class="forbes" src="./assets/Forbes_logo.svg"/></a>
			</div>
	</div>

</div>

<div class="apply-section">
	<a href="/testimonials"><button class="button-one">TESTIMONIALS</button></a>
	<a href="/academy/#apply"><button class="button-three">APPLY</button></a>
	<a href="/academy"><button class="button-one">CURRICULUM</button></a>
</div>
