<div class="home">
	<div id="section-landing" class="section-landing">
		<h1 class="animate-header">Become a software developer</h1>

		<p>Founders & Coders runs the UKs leading course in full-stack JavaScript.</p>

	</div>




	<!-- 6 services: 
	<!-- <div id="services"></div> -->
<!--
	<div class="section-client-quotes">
		<p id="client-name">Tom Humphreys, CEO Muduno</p> 
		<p id="client-quote" class="margin">"Founders & Coders have been a game-changing resource for our business"</p>
		<div class="radio">
			<input id="client-one" type="radio" name="client" onclick='fac.changeText("Tom Humphreys, CEO Muduno", "\"Founders & Coders have been a game-changing resource for our business\"")' checked>
	   		<label for="client-one"></label>
<<<<<<< HEAD
	    	<input id="client-two" type="radio" name="client" onclick='fac.changeText("Tom Humphreys, CEO Muduno", "\"Founders & Coders have been a game-changing resource for our business\"")'>
=======
	    	<input id="client-two" type="radio" name="client" onclick='fac.changeText("Francois Mounier, Head of Development Services, Camden Council", "The level of energy and commitment from the team and the wider Founders & Coders community throughout the project was fantastic.")'>
>>>>>>> af23d1458a53b3ade288d1bdeb3ff48bd7f9ea16
	    	<label for="client-two"></label>
	    	<input id="client-three" type="radio" name="client" onclick='fac.changeText("Tom Humphreys, CEO Muduno", "\"Founders & Coders have been a game-changing resource for our business\"")'>
	    	<label for="client-three"></label>
	    </div>
	</div>
-->
	<div class="section-value-proposition">
		<a href="/academy">
			<img src="./assets/montage-flower.png"/>
		</a>
		<!-- <div class="img"></div> -->
<!-- 		<div class="text-container">
			<div class="text">
				<p>Our goal is to build a highly skilled co-operative of developers, which is capable of producing beautifully crafted software; and providing the best web-development training in the UK - for free.</p>
			</div>
		</div> -->
		<!-- <div class="img-2"></div>
		<div class="img-3"></div> -->
	</div>



	
	
	

	<div class="methods"></div>
</div>
