<div class="home">
	<div id="section-landing" class="section-landing">
		<h1 class="animate-header">Become a software developer</h1>
		<p><span>Founders &amp; Coders runs t</span><span class="T">T</span>he UK's leading course in full-stack JavaScript.</p>
	</div>
	<div class="section-value-proposition">
		<a href="/academy">
			<img src="./assets/montage-flower.png"/>
		</a>
	</div>
	<div class="methods"></div>
</div>
