<div class="home">
	<div id="section-landing" class="section-landing">
		<h1 class="animate-header">Founders &amp; Coders</h1>
		<p>A co-operative of coders in London</p>
	</div>

	<div class="section-value-proposition">
		<div class="img"></div>
		<div class="text-container">
			<div class="text">
				<p>Our goal is to build a highly skilled co-operative of developers, which is capable of producing beauitully crafted software and, with the help of our partners, provide the best web-development training in the UK - for free.</p>
			</div>
		</div>
		<div class="img-2"></div>
		<div class="img-3"></div>

		<!-- <div class="vid"> -->
		<!-- <iframe src="https://player.vimeo.com/video/115169756" width="720px" height="408px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
		<!-- <div class="img-3"> -->
		<!-- </div> -->
	</div>

	<div id="services"></div>
	<div class="section-services">
		<ul class="container">
			<h2>Services</h2>
			<div class="grid-4">
				<a href="services/application-development">
					<div class="services-icon-container">
						<div class="services-icon web-application"></div>
						<div class="services-icon web-application-alt"></div>
					</div>		
					<p>Web Application Development</p>
				</a>
			</div>
			<div class="grid-4">
				<a href="/training">
					<div class="services-icon-container">
						<div class="services-icon training"></div>
						<div class="services-icon training-alt"></div>
					</div>
					<p>Training</p>
				</a>
			</div>
			<div class="grid-4">
				<a href="services/prototyping">	
					<div class="services-icon-container">			
						<div class="services-icon prototyping"></div>
						<div class="services-icon prototyping-alt"></div>
					</div>
					<p>Prototyping</p>
				</a>
			</div>	
			<div class="grid-4">
				<a href="services/content-management">
					<div class="services-icon-container">			
						<div class="services-icon content-management"></div>
						<div class="services-icon content-management-alt"></div>
					</div>
					<p>Content Management</p>
				</a>
			</div>
			<div class="grid-4">
				<a href="services/mobile-development">	
					<div class="services-icon-container">			
						<div class="services-icon mobile-development"></div>
						<div class="services-icon mobile-development-alt"></div>
					</div>
					<p>Mobile Development</p>
				</a>
			</div>	
			<div class="grid-4">
				<a href="services/responsive-web-design">	
					<div class="services-icon-container">			
						<div class="services-icon responsive-design"></div>
						<div class="services-icon responsive-design-alt"></div>
					</div>
					<p>Responsive Web Design</p>
				</a>
			</div>	
		</li>
		</ul>
	</div>

	<div id="portfolio"></div>
	<div class="section-portfolio">
		<h2>Portfolio</h2>
		<div class="images-container">
			<%- partial("_partials/portfolio", { "link": "portfolio/p/africabriefcase", "name": "Africa Briefcase", "company": "Africa Media Lab", "imageStyle": "image-one", "display": "" }) %>
			<%- partial("_partials/portfolio", { "link": "portfolio/p/camdenmaps", "name": "Camden Maps", "company": "Camden Council", "imageStyle": "image-three", "display": "" }) %>
			<%- partial("_partials/portfolio", { "link": "portfolio/p/chichester-harbour", "name": "Membership Management", "company": "Chichester Harbour", "imageStyle": "image-four", "display": "" }) %>

			<!-- <%- partial("_partials/portfolio", { "link": "portfolio/p/africaneye", "name": "Africaneye", "company": "Africa Media Lab", "imageStyle": "image-two", "display": "tablet-only" }) %> -->

		</div>
		<a href="/portfolio"><h2 class="h2-margin-top">View More</h2></a>
	</div>

	<!-- 6 services: 
	<!-- <div id="services"></div> -->
<!--
	<div class="section-client-quotes">
		<p id="client-name">Tom Humphreys, CEO Muduno</p> 
		<p id="client-quote" class="margin">"Founders & Coders have been a game-changing resource for our business"</p>
		<div class="radio">
			<input id="client-one" type="radio" name="client" onclick='fac.changeText("Tom Humphreys, CEO Muduno", "\"Founders & Coders have been a game-changing resource for our business\"")' checked>
	   		<label for="client-one"></label>
<<<<<<< HEAD
	    	<input id="client-two" type="radio" name="client" onclick='fac.changeText("Tom Humphreys, CEO Muduno", "\"Founders & Coders have been a game-changing resource for our business\"")'>
=======
	    	<input id="client-two" type="radio" name="client" onclick='fac.changeText("Francois Mounier, Head of Development Services, Camden Council", "The level of energy and commitment from the team and the wider Founders & Coders community throughout the project was fantastic.")'>
>>>>>>> af23d1458a53b3ade288d1bdeb3ff48bd7f9ea16
	    	<label for="client-two"></label>
	    	<input id="client-three" type="radio" name="client" onclick='fac.changeText("Tom Humphreys, CEO Muduno", "\"Founders & Coders have been a game-changing resource for our business\"")'>
	    	<label for="client-three"></label>
	    </div>
	</div>
-->
	<div class="methods"></div>
</div>
