<div class="section-landing">
		<div id="section-landing-image"></div>
		<img class="fac-logo" alt="Founders and Coders logo" src="../assets/fac-logo.png"/>
		<h1>Become a developer</h1>
		<p>
      <span class="display-inline-dektop">Create software that makes </span>
      <span class="display-inline-tablet">Make </span>the world a better place.
    </p>
    <div class="programmes-info">
        <a href="/programme/course-information/london"><button class="button-three">London</button></a>
        <a href="/programme/course-information/nazareth"><button class="button-three">Nazareth</button></a>
    </div>

</div>

<div class="testimonial-container">

	<div class="testimonial-section hide-on-mobile">
	     <a><i class="icon-left-open-big"></i></a>
	     <div class="carousel-wrap">
             	  <div class="testimonial">
                    <div class="carousel-item">
                        <p class="test"><span>"</span>Hands down the best experience of my life<span>"</span></p>
                        <div class="link-container"><a href="/testimonials"><div class="team-image-grid natalia"></div></a></div>
                        <p class="name">Natalia Baltazar</p>
                        <p>Full-stack Developer at the Guardian</p>
                    </div>
                    <div class="carousel-item">
                        <p class="test"><span>"</span>Founders & Coders has been life changing<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid bes"></div></a>
                        <p class="name">Besart Hoxhaj</p>
                        <p>Lead Developer at Long Neck</p>
                    </div>
                    <div class="carousel-item">
                        <p class="test"><span>"</span>Joining the Founders & Coders course is the best decision I have ever made!<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid nikhila-5"></div></a>
                        <p class="name">Nikhila Ravi</p>
                        <p>Full-stack developer at DWYL</p>
                    </div>
										<div class="carousel-item">
                        <p class="test"><span>"</span>The ethos fully resonated with me<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid anita-4"></div></a>
                        <p class="name">Anita Amini</p>
                        <p>Full-stack developer at Cohaesus</p>
                    </div>
										<div class="carousel-item">
                        <p class="test"><span>"</span>Great space, amazing people - it has been extremely rewarding!<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid anitac-5"></div></a>
                        <p class="name">Anita Czapla</p>
                        <p>Full-stack developer at DWYL</p>
                    </div>
										<div class="carousel-item">
                        <p class="test"><span>"</span>What I learnt in the space of 16 weeks still leaves me astounded<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid benji"></div></a>
                        <p class="name">Benji Lees</p>
                        <p>Software engineer at Arcadia Group Ltd</p>
                    </div>
										<div class="carousel-item">
                        <p class="test"><span>"</span>Founders & Coders set me on the path to a career I love<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid rory-4"></div></a>
                        <p class="name">Rory Sedwick</p>
                        <p>Full-stack developer at Arup Digital</p>
                    </div>
										<div class="carousel-item">
                        <p class="test"><span>"</span>I did not think it was possible to learn so much in such a short time<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid izaak"></div></a>
                        <p class="name">Izaak Rogan</p>
                        <p>CTO at Long Neck</p>
                    </div>
										<div class="carousel-item">
                        <p class="test"><span>"</span>Amazing space full of energy and wonderful people<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid jackr-5"></div></a>
                        <p class="name">Jack Rans</p>
                        <p>Full-stack developer at DWYL</p>
                    </div>
										<div class="carousel-item">
                        <p class="test"><span>"</span>I have achieved so much more here than I ever could have done on my own<span>"</span></p>
                        <a href="/testimonials"><div class="team-image-grid claire-5"></div></a>
                        <p class="name">Claire Mitchell</p>
                        <p>Developer at 27 Partners</p>
                    </div>
										<div class="carousel-item">
												<p class="test"><span>"</span>One of the best things I've ever done. Truly life-changing<span>"</span></p>
												<a href="/testimonials"><div class="team-image-grid michelle-5"></div></a>
												<p class="name">Michelle Garrett</p>
												<p>Developer at WonderLuk</p>
										</div>
                </div>
            </div>
	<a><i class="icon-right-open-big"></i></a>
	</div>

	<div class="sponsor-section">
			<div>
				<a href="https://www.switchup.org/bootcamps/founders-and-coders" ><img alt="Switch logo" class="switch" src="./assets/switch_logo.svg"/></a>
			</div>
			<div>
				<a href="https://www.coursereport.com/schools/founders-coders" ><img alt="Course Report logo" class="course" src="./assets/course-report-logo.png"/></a>
			</div>
			<div>
				<a href="http://www.theguardian.com/technology/2015/jul/26/founders-coders-coding-free-training-london" ><img alt="The Observer logo" class="observer" src="./assets/observer.png"/></a>
			</div>
			<div>
				<a href="http://www.forbes.com/sites/adrianbridgwater/2015/08/13/the-free-coding-academy-model-how-to-teach-our-next-generation-of-programmers/" ><img alt="Forbes logo" class="forbes" src="./assets/Forbes_logo.svg"/></a>
			</div>
	</div>

</div>

<div class="apply-section">
	<a href="/testimonials"><button class="button-one">TESTIMONIALS</button></a>
</div>
