// .team-image {
// 	// width: 200px;
// 	// margin: auto;
// 	width: auto;
// 	max-width: 200px;
// 	height: auto;
// 	max-height: 200px;
// 	border-radius: 100%;
// }
.test {
	overflow: hidden;
	z-index: 4;
}

.overflow-hidden {
	overflow: hidden;
}

.team-image {
	width:200px;
	height:200px;
	display:block;
	border-radius: 100%;
	background-size:cover; 
	background-position:center center; 
	background-repeat:no-repeat; 
	margin: 40px auto;
}

.team-image-grid{
	width:200px;
	height:200px;
	display:block;
	border-radius: 100%;
	background-size:cover; 
	background-position:center center; 
	background-repeat:no-repeat; 
		margin: 30px auto;

}

.dan {
	background-image:url("../img/us/mentors/dan.jpg");
}

.ines {
	background-image:url("../img/us/mentors/ines.jpg");
}

.nelson {
	background-image:url("../img/us/mentors/nelson.jpg");
}

.stephan {
	background-image:url("../img/us/mentors/stephan.jpg");
}

.robin {
	background-image:url("../img/us/mentors/robin.jpg");
}

.campbell {
	background-image:url("../img/us/mentors/campbell.png");
}

.izaak {
	background-image:url("../img/us/2014/izaak.jpg");
}

.bes {
	background-image:url("../img/us/2014/bes.jpg");
}

.natalia {
	background-image:url("../img/us/2014/natalia.jpg");
}

.will {
	background-image:url("../img/us/2014/will.jpg");
}

.benji {
	background-image:url("../img/us/2014/benji.jpg");
}

.harry {
	background-image:url("../img/us/2014/harry.jpg");
}

.emma {
	background-image:url("../img/us/2014/emma.jpg");
}