.academy-landing {
  background-image: url('../assets/fac-sofa-hd-2.jpg');
  background-size: cover;
  background-position: center top;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1, p, span {
		color: $color-three;
		font-family: 'UG thin';
	}
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 20px;
		font-family: 'UG med';
    span {
      font-size: 20px;
  		font-family: 'UG med';
    }
	}
  button {
    margin-top: 20px;
    height: 38px;
    font-size: 17px;
    padding-top: 12px;
  }
  .margin {
    margin-bottom: 5%;
  }
  .display {
    display: inline;
  }
  .display-alt {
    display: none;
  }
  .agency {
    font-size: 90px;
    line-height: 80%;
  }
}

@media(max-width: 1100px){
  .academy-landing {
    .display {
      display: none;
    }
    .agency {
      font-size: 50px;
    }
    .display-alt {
      display: inline;
    }
  }
}

@media(max-width: 530px){
  .academy-landing {
    h1 {
      font-size: 27px;
    }
    p {
      font-size: 14px;
      span {
        font-size: 14px;
      }
    }
    .agency {
      font-size: 35px;
    }
  }
}
