.portfolio-intro {
  width: 95%;
  margin: auto;
}
.portfolio_table {
  width: 100%;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
}

.portfolio_table_row {
  max-width: 100%;
}

.portfolio_item_container {
  width: 30%;
  align-items: center;
  max-height: 4.5vh;
}

.portfolio_item_image {
  max-width: 80%;
  margin: 10% auto;
  opacity: 0.8;
}
