#london-image {
	background-image: url('../assets/london.jpg');
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: opacity .3s ease-in-out;
	opacity: 1;
}

.sponsor-section {
	div {
		max-width: 250px;
		width: 33%;
	}
	.embassy {
		max-width: 150px;
		width: 90%;
	}
	.techhub {
		max-width: 250px;
		width: 100%;
	}
}
