@mixin landing-image-defaults () {
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: opacity .3s ease-in-out;
	opacity: 1;
}

#london-image {
	background-image: url('../assets/thames.jpg');
	@include landing-image-defaults;
}


#nazareth-image {
	background-image: url('../assets/nazareth.jpg');
	@include landing-image-defaults;
}

.sponsor-section {
	.embassy {
		width: 100%;
	}
	.techhub {
		width: 125%;
	}
}
