.training-image-container {
	position: relative;
	width: 100%;
	height: 80vh;
	background-image: url("/assets/fac-sofa-hd-2.jpg");
	background-position: top;
	background-size: cover;
}

.training {
	.small-h1 {
		font-size: 24px;
	}
	.small-h2 {
		font-size: 17px;
	}
}

@media (max-width: $mobile) {
	.training-image-container {
		height: 90vh;
	}
}

.employers {
	padding-top: 20px;
	h2 {
		margin: 40px 0  5px 0;
		font-style: normal;
	}
	h2:first-child {
		margin-top: 0;
	}
	p {
		margin-bottom: 20px;
		font-style: normal;
	}
}
