@font-face {
	font-family: 'UG';
	src: url('../font/UG.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'UG thin';
	src: url('../font/UGthin.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
	font-family: 'UG';
	-webkit-font-smoothing: antialiased;
	color: $color-one;
}

p {
	font-family: 'UG thin';
}

h3 {
	font-size: 19px;
}

@media (max-width: 700px) {
	h3 {
		font-size: 15px;
			color: $color-one;

	}
}
@media (max-width: 400px) {
	h3 {
		font-size: 13px;
	}
}