<div class="training-image-container">
</div>
<div class="section-copy training">
	<div class="container">
		<div id="schedule"></div>
		<h1 class="small-h1">Intensive. Collaborative. Javascript Course, London.</h1>
		<h2 class="small-h2">Founders & Coders is offering the following web development classes and training workshops in JavaScript, Nodejs, Angularjs, React and related subjects.</h2>
		<br>	
		<!-- <h2>Coming Up<h2> -->
		<%- partial("_react.md") %>
		<br>
		<%- partial("_express.md") %>
		<br>
		<%- partial("_git.md") %>
		<div id="request"></div>
		<h2>Request training for your organisation</h2>
		<%- partial("_request.md") %>
	</div>
</div>