<div class="training-image-container">
</div>
<div class="section-copy">
	<div class="container">
		<div id="schedulesection"></div>
		<h2>Coming Up<h2>
		<%- partial("_express.md") %>
		<%- partial("_git.md") %>
		<%- partial("_react.md") %>
		<div id="requestsection"></div>
		<h2>Request training for your organisation</h2>
		<%- partial("_request.md") %>
	</div>
</div>