%button {
	font-size: 20px;
	font-weight: 100;
	display: inline-block;
	margin-bottom: 0; // For input.btn
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	white-space: nowrap;
	padding: 14px 12px;
	height: 50px;
	border-radius: 0px;
	width: 100%;
	max-width: 350px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	&,
	&:active {
		outline: none;
	}
	&:hover {
		text-decoration: none;
	}
}

button {
	@extend %button;
}

@media (max-width: 1700px) {
	%button {
		height: 40px;
		font-size: 15px;
	}
}

.button-one {
	@extend %button;
	color: #fff;
	background-color: #707C80;
	border: none;
	width: 48%;
	&:hover {
		background-color: #999;
	}	
	&:active {
		background-color: #707C80;
		// border: 1px solid #ccc;
	}	
}	

.button-two {
	@extend %button;
	background-color: #eee;
	color: #999;
	border: 1px solid #ccc;
	width: 48%;
	&:hover {
		background-color: #999;
		color: #fff;
		border: none;
	}	
	&:active {
		background-color: #333;	
		color: #fff;
		border: none;
	}	
}