<!--
<div class="academy-landing">
	<div id="academy-bw-image"></div>
	<div id="academy-image"></div>
	<h1 class="agency">The Full Stack.</h1>
	<h1><span class="display">Collaborative Environment +</span> Cutting-edge Curriculum</h1>
	<a href="/apply" class="margin"><button id="button" class="button-three">APPLY</button></a>
</div>
-->

<div class="section-copy">
	<div class="container">
		<%- partial("_faq.md") %>
	</div>
</div>

<div class="apply-section">
	<a href="/testimonials"><button class="button-one">TESTIMONIALS</button></a>
	<a href="/apply"><button class="button-three">APPLY</button></a>
</div>
