<nav id="navbar">
	<div class="desktop-only">
		<ul class="animate-header">

			<%- partial("navlinks") %>

		</ul>
	</div>
	<div class="dropdownToggle">
		<div class="tablet-mobile-only tablet-mobile-navigation">
			<a data-toggle="dropdown">
				<p>
					<button id="cmn-toggle-switch" class="icon cmn-toggle-switch cmn-toggle-switch__htx">
			  			<span>toggle menu</span>
					</button>
				</p>
			</a>
			<div class="nav-settings-dropdown">
				<div id="nav-dd-tablet" class="nav-dd-tab">
					<div class="container">
						<ul>

							<%- partial("navlinks") %>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<div class="section-nav-offset"></div>
