<li>
	<a href="/"><h4 class="bold">HOME</h4></a>
</li>
<li>
	<a href="/coders"><h4 class="bold">BOOTCAMPS</h4></a>
</li>
<li>
	<a href="/founders"><h4 class="bold">ACCELERATORS</h4></a>
</li>
<li>
	<a href="/team"><h4 class="bold">OUR TEAM</h4></a>
</li>

<li>
	<a href="/about"><h4 class="bold">OUR STORY</h4></a>
</li>

