<li>
	<a href="/"><h4 class="bold">HOME</h4></a>
</li>
<li>
	<a href="/programme"><h4 class="bold">PROGRAMME</h4></a>
</li>
<li>
  <a href="/portfolio"><h4 class="bold">PORTFOLIO</h4></a>
</li>
<li>
	<a href="/community"><h4 class="bold">OUR TEAM</h4></a>
</li>
<li>
	<a href="/about"><h4 class="bold">OUR STORY</h4></a>
</li>
<li>
	<a href="/apply"><h4 class="bold">APPLY</h4></a>
</li>
