
<div class="partners-section">
  <div class="partners-section-item">
    <a href="http://www.dwyl.io/"
      alt="DWYL - Do What You Love"

      >
      <img class="partners-section-image" alt="DWYL logo" src="/assets/partners/dwyl-logo.png"/>
    </a>
  </div>
  <div class="partners-section-item">
    <a href="http://www.wearecast.org.uk/"
      alt="Cast"

      >
      <img class="partners-section-image" alt="Cast logo" src="/assets/partners/cast.png"/>
    </a>
  </div>
  <div class="partners-section-item">
    <a href="http://hasoub.org/"
      alt="Hasoub"

      >
      <img class="partners-section-image" alt="Hasoub logo" src="/assets/partners/hasoub-logo-ar-en.png"/>
    </a>
  </div>
  <div class="partners-section-item">
    <a href="http://www.ukisraelhub.com/"
    alt="UK Israel Hub"

    >
    <img class="partners-section-image" alt="UK Israel Tech HUB logo" src="/assets/partners/ukisraeltechhub.jpg"/>
  </a>
</div>
  <div class="partners-section-item">
    <a href="https://www.gov.uk/government/world/organisations/british-embassy-tel-aviv"
      alt="British Embassy Israel"

      >
      <img class="partners-section-image" alt="British Embassy Israel logo"src="/assets/partners/british_embassy_israel.jpg"/>
    </a>
  </div>
  <div class="partners-section-item">
    <a href="http://www.nazarethinfo.org/"
      alt="City of Nazareth"

      >
      <img class="partners-section-image" alt="Nazareth logo" src="/assets/partners/nazareth.png"/>
    </a>
  </div>
</div>
