
<div class="partners-section">
  <div class="partners-section-item">
    <a href="http://www.dwyl.io/"
      alt="DWYL - Do What You Love"
      target="_blank"
      >
      <img class="partners-section-image" src="/assets/partners/dwyl-logo.png"/>
    </a>
  </div>
  <div class="partners-section-item">
    <a href="http://www.wearecast.org.uk/"
      alt="Cast"
      target="_blank"
      >
      <img class="partners-section-image" src="/assets/partners/cast.png"/>
    </a>
  </div>
  <div class="partners-section-item">
    <a href="http://www.ukisraelhub.com/"
    alt="UK Israel Hub"
    target="_blank"
    >
    <img class="partners-section-image" src="/assets/partners/ukisraeltechhub.jpg"/>
  </a>
</div>
  <div class="partners-section-item">
    <a href="https://www.gov.uk/government/world/organisations/british-embassy-tel-aviv"
      alt="British Embassy Israel"
      target="_blank"
      >
      <img class="partners-section-image" src="/assets/partners/british_embassy_israel.jpg"/>
    </a>
  </div>
  <div class="partners-section-item">
    <a href="http://www.nazarethinfo.org/"
      alt="City of Nazareth"
      target="_blank"
      >
      <img class="partners-section-image" src="/assets/partners/nazareth.png"/>
    </a>
  </div>
</div>
