<div class="section-copy">
	<div class="container">
		<div class="sponsor-section">
			<div>
				<a href="http://www.dwyl.io/" target="_blank">
          <img class="dwyl" src="/assets/dwyl-logo.png"/>
        </a>
			</div>
			<div>
				<a href="http://www.wearecast.org.uk/" target="_blank">
          <img class="cast" src="/assets/cast.png"/>
        </a>
			</div>
			<div>
				<a href="http://www.ukisraelhub.com/" target="_blank">
          <img class="techhub" src="/assets/ukisraeltechhub.jpg"/>
        </a>
			</div>
		</div>
	</div>
</div>
