<a href=<%= link %> target="_blank">
<div class="grid-4">
  <div class="quote-box">
    <div class="container">
      <p><%= quote %></p>
    </div>
  </div>
  <div class="team-image-grid" + <%= name %></div>
</div>
</a>
