<div class="academy-landing">
	<div id="programme-landing-image"></div>
	<h1 class="agency">The Full Stack.</h1>
	<h1><span class="display">Collaborative Environment +</span> Cutting-edge Curriculum</h1>
	<a href="/apply" class="margin"><button id="button" class="button-three">APPLY</button></a>
</div>

<div class="section-copy">
	<div class="container programme-page">
		<%- partial("_overview.md") %>
		<div>
			<a href="http://www.dwyl.io/"><img alt="DWYL logo" class="programme-img" src="/assets/dwyl.png"/></a>
			<a href="https://www.ipcortex.co.uk/"><img alt="ip cortex logo" class="programme-img" src="/assets/ipcortex.jpg"/></a>
			<a href="http://www.wcrs.com/"><img alt="WCRS logo" class="programme-img" src="/assets/wcrs.jpg"/></a>
			<a href="https://www.theguardian.com/uk"><img alt="The Guardian logo" class="programme-img" src="/assets/guardian.png"/></a>
			<a href="https://www.27partners.com/"><img alt="27 partner logo" class="programme-img" src="/assets/27partners.jpg"/></a>
			<a href="https://8thlight.com/"><img alt="8th Light logo"class="programme-img" src="/assets/8th-Light-Logo.png"/></a>
		</div>
	</div>
</div>

<div class="apply-section">
	<a href="/testimonials"><button class="button-one">TESTIMONIALS</button></a>
	<a href="/apply"><button class="button-three">APPLY</button></a>
	<a href="/programme/course-information"><button class="button-one">COURSE INFO</button></a>
</div>
