<div class="academy-landing">
	<div id="london-image"></div>
	<h1 class="agency">Join us in London </h1>
	<h1><span class="display">The Arab Israeli Scholarship</span></h1>
</div>

<div class="section-copy">
	<div class="container">
		<%- partial("_about.md") %>
		<%- partial("_apply.md") %>
		<div class="sponsor-section">
			<div>
				<img class="embassy" src="/assets/embassy.jpg"/>
			</div>
			<div>
				<img class="techhub" src="/assets/ukisraeltechhub.jpg"/>
			</div>
		</div>
	</div>
</div>


