<div class="academy-landing">
	<div id="london-image"></div>
	<h1 class="agency">Join us in London </h1>
	<h1><span class="display">The Palestinian Israeli Scholarship</span></h1>
</div>

<div class="section-copy">
	<div class="container">
		<%- partial("_about.md") %>

		<div id="apply"></div>
		<%- partial("_apply.md") %>
	</div>
</div>
