<div class="academy-landing">
	<div id="academy-bw-image"></div>
	<div id="academy-image"></div>
	<h1 class="agency">The Full Stack.</h1>
	<h1><span class="display">Collaborative Environment +</span> Cutting-edge Curriculum</h1>
	<a href="/apply" class="margin"><button id="button" class="button-three">APPLY</button></a>
</div>

<div class="section-copy">
	<div class="container">
		<%- partial("_overview.md") %>
		<div id="schedule"></div>
		<%- partial("_schedule.md") %>
		<div id="faq"></div>
	</div>
</div>

<div class="apply-section">
	<a href="/testimonials"><button class="button-one">TESTIMONIALS</button></a>
	<a href="/apply"><button class="button-three">APPLY</button></a>
	<a href="faq"><button class="button-one">FAQ</button></a>
</div>


