<div class="section-copy">
	<div class="container">
		<%- partial("_about.md") %>
	</div>
</div>

<div id="faq-anchor"></div>
<div class="section-copy">
	<div class="container">
		<%- partial("_faq.md") %>
	</div>
</div>

<div id="apply-anchor"></div>
<div class="section-copy">
	<div class="container">
		<%- partial("_apply.md") %>
	</div>
</div>

<div id="prerequisites-anchor"></div>
<div class="section-copy">
	<div class="container">
		<%- partial("_prerequisites.md") %>
	</div>
</div>