nav {
	width: 100%;
	height: 150px;
	padding: 0 25px;
	position: fixed;
	z-index: 1;
	background-color: $color-three;
	-webkit-transition:height 0.3s, line-height 0.3s;
	-moz-transition:height 0.3s line-height 0.3s;
	-ms-transition:height 0.3s line-height 0.3s;
	-o-transition:height 0.3s line-height 0.3s;
	transition:height 0.3s line-height 0.3s;
	h4 {
		cursor: pointer;
	}
	.desktop-only {
		a {
			width: 100px;
			text-align: center;
			height: 100%;
		}
		ul {
			max-width: 600px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		li {
			display: inline;
			list-style-type: none;
			line-height: 150px;
			-webkit-transition: line-height 0.3s;
			-moz-transition: line-height 0.3s;
			-ms-transition: line-height 0.3s;
			-o-transition: line-height 0.3s;
			transition: line-height 0.3s;
			width: 250px;
			text-align: center;
			&:hover {
				.nav-dd {
					display: block;
				}
			}
		}
		h4 {
			display: inline;
			letter-spacing: 2px;
			font-family: "UG med";
			&:hover, &:active {
				font-family: 'UG bold';
			}
		}
	}
}

@media (max-width: $tablet) {
	nav {
		li {
			padding: 0;
		}
	}
}

// @media (max-width: $mobile) {
// 	nav {
// 		li {
// 			padding: 0 15px;
// 		}
// 	}
// }

.section-nav-offset {
	@extend %section;
	height: 150px;
}

.nav-dd {
	width: 100%;
	top: 150px;
	left: 0;
	height: 150px;
	line-height: 150px;
	position: absolute;
	display: none;
	z-index: 100;
	-webkit-transition:height 0.3s, line-height 0.3s, top 0.3s;
	-moz-transition:height 0.3s line-height 0.3s, top 0.3s;
	-ms-transition:height 0.3s line-height 0.3s, top 0.3s;
	-o-transition:height 0.3s line-height 0.3s, top 0.3s;
	transition:height 0.3s line-height 0.3s, top 0.3s;
	background-color: #333;
	ul {
		max-width: 500px;
		padding: 0 50px;
		li {
			padding: 0;
		}
	}
	h4 {
		color: $color-three;
	}
}

.tablet-mobile-navigation {
	.icon {
		float: right;
		margin-top: 54px;
		-webkit-transition:height 0.3s, margin-top 0.3s, top 0.3s;
		-moz-transition:height 0.3s margin-top 0.3s, top 0.3s;
		-ms-transition:height 0.3s margin-top 0.3s, top 0.3s;
		-o-transition:height 0.3s margin-top 0.3s, top 0.3s;
		transition:height 0.3s margin-top 0.3s, top 0.3s;
	}
	.small-icon {
		margin-top: 19px;
	}
	.nav-dd-tab {
		width: 100%;
		top: 150px;
		left: 0;
		height: 190px;
		line-height: 150px;
		position: absolute;
		// display: none;
		z-index: 100;
		-webkit-transition:height 0.3s, line-height 0.3s, top 0.3s;
		-moz-transition:height 0.3s line-height 0.3s, top 0.3s;
		-ms-transition:height 0.3s line-height 0.3s, top 0.3s;
		-o-transition:height 0.3s line-height 0.3s, top 0.3s;
		transition:height 0.3s line-height 0.3s, top 0.3s;
		background-color: #333;
		padding: 0 15px;
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 650px;
			margin: auto;
			height: 190px;
			padding: 0 40px;
		}
		ul {
			height: 127px;

			flex-direction: column;
		}
		li {
			list-style-type: none;
		}
		h4 {
			color: $color-three;
			font-family: 'UG med';
			line-height: 32px;
			&:hover, &:active {
				font-family: 'UG bold'
			}
		}
		.top-level {
			color: $color-one;
		}
	}
	.small-dd-tabet {
		top: 75px;
	}
	.nav-settings-dropdown {
		display: none;
	}
	.show {
		display: initial;
	}

	.hide {
		display: none;
	}
}

@media (max-width: 500px) {
	.tablet-mobile-navigation {
		.nav-dd-tab {
			.container {
				padding: 0 15px;
			}
		}
	}
}

@media (max-width: $mobile) {
	.tablet-mobile-navigation {
		.nav-dd-tab {
			height: 150px;
			.container {
				height: 150px;
			}
			ul {
				height: 100px;
			}
			h4 {
				line-height: 25px;
			}
		}
	}
}

.small-nav {
	height: 75px;
	.desktop-only {
		li {
			line-height: 75px;
		}
	}
}

.small-dd {
	height: 75px;
	line-height: 75px;
	top: 75px;
}

.nav-2 {
	height: 150px;
	line-height: 75px;
	border: 1px solid #ccc;
	padding: 0;
	margin-bottom: 1500px;
	// position: relative;
	.bottom {
		width: 100%;
		overflow: hidden;
		background-color: #D8D8D8;
	}
	.center-2 {
		// text-align: center;
		max-width: 350px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		// justify-content: center;
		align-items: center;
			background-color: #D8D8D8;

	}
}

.smaller2 {
	height: 70px;
	line-height: 35px;
}